<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
   <servlet>
    <servlet-name>predictstatus</servlet-name>
    <servlet-class>com.supersk.servlets.StatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>predictstatus</servlet-name>
    <url-pattern>/predictstatus</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>predicttrain</servlet-name>
    <servlet-class>com.supersk.servlets.TrainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>predicttrain</servlet-name>
    <url-pattern>/predicttrain</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>predict</servlet-name>
    <servlet-class>com.supersk.servlets.PredictServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>predict</servlet-name>
    <url-pattern>/predict</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>predictconfig</servlet-name>
    <servlet-class>com.supersk.servlets.ConfigServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>predictconfig</servlet-name>
    <url-pattern>/predictconfig</url-pattern>
  </servlet-mapping>

</web-app>
